@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bot {
  bottom: 0;
  right: 0;
  margin: 0px 20px;
  position: fixed;
  width: 350px;
}

.btn {
  margin: 10px 10px;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  float: right;
  background-color: #5e88fc;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.btn:focus,
.input:focus {
  outline: none;
}
